
<h1>Chore Man</h1>

<br />

@if(ViewBag.Username != null)
{
    <div>Hello @ViewBag.User.Username</div>
}

<div>

</div>


@section scripts{
<script>
    $(document).ready(function () {

    });//end $(document).ready(function () {
</script>

}