
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>


@section scripts {
<script>
    $(document).ready(function () {
        if (!document.cookie){
            alert('not set');
            document.cookie = "Username=user2;";
        }
        else {
            alert(document.cookie);
            //document.cookie = null;
        }
    });//end $(document).ready(function () {
</script>    
}

