
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Chore Man</h2>

    <div>
        Chore man is designed to help you and your roommates rotate between diffferent chores.
        You get to name each chore and 
    </div>

    <div>
        Step 1. Create a list of chores
    </div>

    <div>
        Step 2. Create chore contact list
    </div>

    <div>
        Step 3. Schedule Rotations
    </div>


    <div>
        <label>Username:</label><input type="text" />
        <br />

        <label>Mobile Phone:</label><input type="tel" />
        <br />

        <label>First Name:</label><input type="text" />
        <br />

        <label>Last Name:</label><input type="text" />
        <br />

        <label>Email:</label><input type="text" />
        <br />

        <label>Password:</label><input type="password" />
        <br />

        <label>Confirm Password:</label><input type="password" />
        <br />



    </div>


</div>
